@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  position: relative;
  height: calc(100vh - 100px);

  & .home-btn {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    @include btn-animate;
    color: $react-bg-color;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
