@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  position: relative;
  height: calc(100vh - 100px);

  & h1 {
    color: $white;
    width: 100%;
    background-color: $blue-heavy;
    font-size: 2rem;
    padding: 10px;
  }

  & a {
    text-decoration: none;
  }

  & .home-btn {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    @include btn-animate;
    color: $react-bg-color;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@media only screen and(max-width: 420px) {
  .home {
    height: 100vh;

    & .home-btn {
      width: 180px;
      font-size: 1rem;
      margin-top: 230px;
    }
  }
}
