//text-colors
$white: #fff;
$red: rgb(182, 23, 23);
$blue-heavy: rgb(2, 2, 29);
$blue-light: #282c34;
$blue-middle: #20232a;
$primary: #60dafb;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

$courgette: "Courgette", cursive;

//content section colors
$pomodoro: rgb(253, 98, 70);
$pomodoro-field: rgb(204, 71, 48);
$short-break: #5fb3b3;
$short-break-field: #479292;
$long-break: #097394;
$long-break-field: #089ac7;

//bg colors
$react-bg-color: #282c34;
$react-logo-color: #60dafb;

$theme-colors: (
  "primary": $primary,
);
